@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sen:wght@400..800&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
    background: linear-gradient(90deg, #EDF1F4, #C3CBDC);
    flex: 1;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    background-attachment: scroll;
    background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 2px 8px 16px black;
}

.sinistra{
    display: flex;
    align-items: center;
    text-align: center;
}

.sinistra h1{
    font-family: Lexend Giga;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
}

.destra{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 1.6em;
}

.destra button{
    background: transparent;
    border: none;
    font-family: Lexend Giga;
    font-size: 0.7em;
    color: white;
}

.destra button:hover{
    opacity: 0.5;
}

.nav-under{
    background-image: linear-gradient(0deg, #99201c 0%, #f56545 74%);
    height: 2em;
    display: flex;
    align-items: center;
    margin-top: 2.5em;
    box-shadow: 2px 8px 16px black;
}

.nav-under p{
    font-family: Lexend Giga;
    font-size: 0.7em;
    margin-left: 1.4em;
    font-weight: 800;
    text-transform: uppercase;
}

main{
    margin: 0.5em;
    display: flex;
    flex-direction: row;
}

section{
    display: flex;
    flex-direction: column;   
}

.central-text{
    background: linear-gradient(90deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    height: 100%;
    width: 13em;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin-top: 2.5em;
    font-family: Lexend Giga;
    font-size: 0.8em;
    color: white;
    box-shadow: 2px 8px 16px black;
}

.central-image{
    width: 160px;
    height: 227px;
    margin-top: 1em;
    left: -0.5em;
    border: 4px solid black;
    display: flex;
    align-items: center;
    margin-left: 2em;
    position: relative;
    box-shadow: 2px 8px 16px black;
    z-index: 2;
}

.central-image button{
    position: absolute;
    bottom: -2.1em;
    left: 1.55em;
    align-items: center;
    background-image: linear-gradient(0deg, #99201c 0%, #f56545 74%);
    border: none;
    border-radius: 20px;
    padding: 1em;
    font-family: Lexend Giga;
    font-weight: 800;
    font-size: 0.9em;
    box-shadow: 2px 8px 16px black;
    border: 2px solid black;
    animation: rotate 3.5s linear infinite;
}

.text-offer-div{
    display: flex;
    align-items: center;
    text-align: center;
}

.text-offer-div h1{
    font-family: Lexend Giga;
    font-size: 2.3em;
    text-transform: uppercase;
    color: #99201c;
    margin-left: 1.4em;
}

.offer-button button{
    z-index: 5;
    margin-top: 6em;
    margin-left: 1.55em;
    background-image: linear-gradient(0deg, #99201c 0%, #f56545 74%);
    border: none;
    border-radius: 20px;
    padding: 1em;
    font-family: Lexend Giga;
    font-weight: 800;
    font-size: 0.9em;
    box-shadow: 2px 8px 16px black;
    border: 2px solid black;
    animation: rotate 3.5s linear infinite;
}

.bottom-offers{
    display: flex; 
    gap: 1.7em;
    overflow-x: auto; 
    padding: 1.2em; 
    white-space: nowrap; 
    scrollbar-width: thin;
}

.bottom-offers::-webkit-scrollbar{
    height: 1em; 
}

.bottom-offers::-webkit-scrollbar-thumb{
    background: midnightblue; 
    border-radius: 4px; 
}

.bottom-offers::-webkit-scrollbar-thumb:hover{
    background: midnightblue; 
}

.offert{
    top: -3em;
    flex: 0 0 auto; 
    background: transparent; 
    padding: 10px; 
    background-color: transparent; 
    border-radius: 5px; 
    width: 200px; 
    text-align: center; 
    position: relative;
}

.offert button{
    position: absolute;
    bottom: -1.5em;
    left: 4.5em;
    background-image: linear-gradient(0deg, #99201c 0%, #f56545 74%);
    border: none;
    border-radius: 20px;
    padding: 1em;
    font-family: Lexend Giga;
    font-weight: 800;
    font-size: 0.9em;
    box-shadow: 2px 8px 16px black;
    border: 2px solid black;
    animation: rotate 3.5s linear infinite;
}

@keyframes rotate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);

    }
    100%{
        transform: scale(1);
    }
}

footer{
    background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    height: 10em;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: 3em;
}

footer p{
    text-align: center;
    box-sizing: border-box;
    font-family: Lexend Giga;
    font-weight: 900;
    font-size: 0.8em;
    margin-top: 1.5em;
    text-transform: uppercase; 
}